# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
coverage/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs & temp
*.log
tmp/
cache/

# Env
.env
.env.*

# Docker
docker-compose.yaml
Dockerfile
docker.md
.dockerignore
